*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: crimson;
}
.card{
    width: 750px;
    background-color: #ccc;
    padding: 23px;
    margin: 23px;
    font-family: sans-serif;
    line-height: 30px;
}
/* Styling the Scrollbar  */
::-webkit-scrollbar{
    /* background-color: transparent; */
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5px;
}
/* We also can use gradient color to it  */